<div class="container">
<nav class="navbar navbar-invisible">
<hr class="hr">
<h1 id="heads"> CLOTHES</h1>
<hr class="hr">


<div class="row">

  #foreach($clothe in $clothes)
  <div class ="col-md-4 imgLook">
  <a href="/clothes/$clothe.getId()">
  <img src="$clothe.getImgUrl()" class="img-responsive "/></a>
  <ul>
  <p class="text">$clothe.getName()</p>
  <p class="text"> Ksh $clothe.getPrice()</p>
  </ul>
  </div>


  #end
</div>

</div>
