<div class="container">
<nav class="navbar navbar-invisible">
<hr class="hr">
<h1 id="heads"> DESIGNERS</h1>
<hr class="hr">
</nav>
<div class= row>
#if($designer)
#foreach($design in $designer)
<div class ="col-md-4">
<img src="/images/designer.jpg" class="designersImg"/>
<p><a href="/designers/$design.getId()" class="designertext"> $design.getName()</a></p>
</div>
#end
</div>

#else
<h1> Designers yet!!! </h1>
#end
</div>
