<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kitenge-A touch of ankara fashion</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="indexBody">
    <header class="indexHeader">
    <div class="container-fluid clearfix">
        <img src="images/LOGO.png" alt="" id="logo">
        <nav>
            <a href="/login" class="indexLogIn">Log In</a>
            <a href="/clothes">Clothes</a>

        </nav>

    </div>
  </header>
  <div class="container-fluid">
    #parse($template)

  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">

</script>
<script src="app.js">

</script>
  </body>
</html>
